/*GENERAL*/
.rosa{
    background-color: #efc7c2;
}
button{
    width: 100%;
}
/*HEADER*/
header span{
    font-size: .2em;
    border: solid black;
}
/*BODY*/
body{
    background-image: url("../img/back.jpg");
    background-repeat: repeat;
}
section span{
    font-size: 20em;
}
p{
    text-align: justify;
}
.icons p{
    height: 10em;
}
.icons *{
    opacity: 0;
}
.icons *:hover{
    opacity: .9;
}
#icon1{
    background-image: url("../img/1.png");
}
#icon2{
    background-image: url("../img/2.png");
}
#icon3{
    background-image: url("../img/3.png");
}
#icon4{
    background-image: url("../img/4.png")
}
